<#import "../layout/bulibot.ftl.html" as layout>
<#assign scriptsblock>
	<script type="text/javascript" src="/assets/webjars/highstock/4.2.5/highstock-all.js"></script>
	<script type="text/javascript" src="/assets/javascript/persistence-app.js"></script>
</#assign><@layout.bootstrap title="Bulibot Datenhaltung" angularApp="bulibot-persistence" menu="private" menuitem="persistence" scripts=scriptsblock>
<div ng-controller="PersistenceController as pc" class="panel panel-default">
	<div class="panel-heading" role="tab">
		<h4 class="panel-title">
			Datenhaltung
			<span ng-hide="pc.showCharts" title="Diagramm" class="glyphicon glyphicon-stats pull-right close" style="margin: 6px; margin-top: -3px;" ng-click="pc.toggleShowCharts()"></span>
			<span ng-show="pc.showCharts" title="Daten" class="glyphicon glyphicon-list-alt pull-right close" style="margin: 6px; margin-top: -3px;" ng-click="pc.toggleShowCharts()"></span>
		</h4>
	</div>
	<div class="panel-body">
		<div class="table-responsive" ng-show="pc.storage != null"> 
			<table ng-hide="pc.showCharts" class="table table-striped table-condensed" style="margin-bottom: 0px;">
				<thead>
					<tr>
						<th>Datentyp</th>
						<th style="text-align: right;">Objekte</th>
						<th style="text-align: right;">Größe</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key, data) in pc.storage.metrics">
						<td>{{data.type}}</td>
						<td align="right">{{data.itemCount}}</td>
						<td align="right">{{data.fileSize / 1000}} kB</td>
					</tr>
					</tr>
						<td><b>Gesamt</b></td>
						<td align="right"><b>{{pc.storage.overallItemCount}}</b></td>
						<td align="right"><b>{{pc.storage.overallFileSize / 1000}} kB</b></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-show="pc.showCharts">
			<div class="row" style="height:100%; width:100%;">
				<div class="col-lg-12">
					<div id="storageChartFileSize"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div id="storageChartItems"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</@layout.bootstrap>